nncf==2.8.1
optimum-intel>=1.15.2
diffusers>=0.22.0
transformers>=4.37.2
openvino>=2024.0.0
onnx>=1.15.0
huggingface-hub>=0.21.3

jupyterlab
ipywidgets
ipykernel>=5.*
ipython>=7.16.3

numpy>=1.21.0
opencv-python

gradio
